@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap');

:root{
   --main-color:#2980b9;
   --orange:#f39c12;
   --red:#e74c3c;
   --black:#444;
   --white:#fff;
   --light-color:#777;
   --light-bg:#f5f5f5;
   --border:.2rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

*{
   font-family: 'Nunito', sans-serif;
   margin:0; padding:0;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

*::selection{
   background-color: var(--main-color);
   color:var(--white);
}

::-webkit-scrollbar{
   height: .5rem;
   width: 1rem;
}

::-webkit-scrollbar-track{
   background-color: transparent;
}

::-webkit-scrollbar-thumb{
   background-color: var(--main-color);
}

html{
   font-size: 62.5%;
   overflow-x: hidden;
}

body{
   background-color: var(--light-bg);
   background-image: url(../images/bg2.jpg);
   /* padding-bottom: 10rem; */
}


.empty-space{
   margin-bottom: 3rem;
}

.upload-container {
   background-color: #f5f5f5;
   border-radius: 8px;
   padding: 30px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   text-align: center;
   margin: auto;
   width: 50%;
   margin-bottom: 30px;
}

#jsonFileInput {
   display: none;
}

.custom-file-upload {
   border: 1px solid #ccc;
   display: inline-block;
   padding: 6px 12px;
   cursor: pointer;
   background-color: #f0f0f0;
   border-radius: 4px;
}

.custom-file-upload:hover {
   background-color: #e0e0e0;
}

button {
   margin-top: 10px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 4px;
   padding: 8px 16px;
   cursor: pointer;
}

button:hover {
   background-color: #0056b3;
}

section{
   padding:2rem;
   max-width: 1200px;
   margin:0 auto;
}

.heading{
   font-size: 4rem;
   color:black;
   margin-bottom: 2rem;
   text-align: center;
}

.btn,
.delete-btn,
.option-btn{
   display: block;
   width: 100%;
   margin-top: 1rem;
   border-radius: .5rem;
   padding:1rem 3rem;
   font-size: 1.7rem;
   text-transform: capitalize;
   color:var(--white);
   cursor: pointer;
   text-align: center;
}

.btn:hover,
.delete-btn:hover,
.option-btn:hover{
   background-color: var(--black);
}

.btn{
   background-color: var(--main-color);
}

.option-btn{
   background-color: var(--orange);
}

.delete-btn{
   background-color: var(--red);
}

.flex-btn{
   display: flex;
   gap:1rem;
}

.message{
   position: sticky;
   top:0;
   max-width: 1200px;
   margin:0 auto;
   background-color: var(--light-bg);
   padding:2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap:1.5rem;
   z-index: 1100;
}

.message span{
   font-size: 2rem;
   color:var(--black);
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   color:var(--black);
}

.error-message {
   text-align: center;
   font-size: 18px;
   color: red;
   margin-top: 20px;
}

.success-display{
   padding:0.5rem;
   margin: auto;
   background-color: white;
   width: 50%;
   border: var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   color:var(--black);
   border-radius: .5rem;
   font-size: 1.5rem;
}

.empty{
   padding:1.5rem;
   background-color: var(--white);
   border: var(--border);
   box-shadow: var(--box-shadow);
   text-align: center;
   color:var(--red);
   border-radius: .5rem;
   font-size: 2rem;
   text-transform: capitalize;
}

@keyframes fadeIn{
   0%{
      transform: translateY(1rem);
   }
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.form-container form{
   padding:2rem;
   text-align: center;
   box-shadow: var(--box-shadow);
   background-color: var(--white);
   border-radius: .5rem;
   width: 50rem;
   border:var(--border);
}

.form-container form h3{
   text-transform: uppercase;
   color:var(--black);
   margin-bottom: 1rem;
   font-size: 2.5rem;
}

.form-container form p{
   font-size: 1.8rem;
   color:var(--light-color);
   margin-bottom: 1rem;
   border-radius: .5rem;
}

.form-container form p span{
   color:var(--orange);
}

.form-container form .box{
   width: 100%;
   margin:1rem 0;
   border-radius: .5rem;
   background-color: var(--light-bg);
   padding:1.4rem;
   font-size: 1.8rem;
   color:var(--black);
}

.header{
   position: sticky;
   top:0; left:0; right:0;
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   z-index: 1000;
}

.header .flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
   position: relative;
}

.header .flex .logo{
   font-size: 2.5rem;
   color:var(--black);
}

.header .flex .logo span{
   color:var(--main-color);
}

.header .flex .navbar a{
   margin:0 1rem;
   font-size: 2rem;
   color:var(--black);
}

.header .flex .navbar a:hover{
   color:var(--main-color);
   text-decoration: underline;
}

.header .flex .icons div{
   margin-left: 1.7rem;
   font-size: 2.5rem;
   cursor: pointer;
   color:var(--black);
}

.header .flex .icons div:hover{
   color:var(--main-color);
}

.header .flex .profile{
   position: absolute;
   top:120%; right:2rem;
   background-color: var(--white);
   border-radius: .5rem;
   box-shadow: var(--box-shadow);
   border:var(--border);
   padding:2rem;
   width: 30rem;
   padding-top: 1.2rem;
   display: none;
   animation:fadeIn .2s linear;
}

.header .flex .profile.active{
   display: inline-block;
}

.header .flex .profile p{
   text-align: center;
   color:var(--black);
   font-size: 2rem;
   margin-bottom: 1rem;
}

#menu-btn{
   display: none;
}


.header .admin-logout-button{
   display: inline-block;
        padding: 10px 20px;
        background-color: #f44336; 
        color: #fff; 
        text-decoration: none;
        font-size: 14px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

.header .admin-logout-button:hover{
   background-color: #d32f2f;
}

.dashboard .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
}

.dashboard .box-container .box{
   padding:2rem;
   text-align: center;
   border:var(--border);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   background-color: var(--white);
}

.dashboard .box-container .box h3{
   font-size: 2.7rem;
   color:var(--black);
}

.dashboard .box-container .box h3 span{
   font-size: 2rem;
}

.dashboard .box-container .box p{
   padding:1.3rem;
   border-radius: .5rem;
   background-color: var(--light-bg);
   font-size: 1.7rem;
   color:var(--light-color);
   margin:1rem 0;
}

.add-products form{
   max-width: 70rem;
   margin: 0 auto;   
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border:var(--border);
   border-radius: .5rem;
   padding:2rem;
}

.add-products form .flex{
   display: flex;
   gap:1.5rem;
   flex-wrap: wrap;
}

.add-products form .flex .inputBox{
   flex:1 1 25rem;
} 

.add-products form span{
   font-size:1.7rem;
   color:var(--light-color);
}

.add-products form .box{
   font-size: 1.8rem;
   background-color: var(--light-bg);
   border-radius: .5rem;
   padding:1.4rem;
   width: 100%;
   margin-top: 1.5rem;
}

.add-products form textarea{
   height: 5.4rem;
   resize: none;
}

.search-container{
    display: flex;
    justify-content:center; 
    align-items: center;
    margin-bottom: 20px; 
}

.search-container .search-bar {
   display: flex;
   align-items: center;
   width: 50rem;
   margin-right: 10px; 
}

.search-container #searchInput {
   width: 100%; 
   padding: 8px;
   border: 1px solid #ccc;
}

.search-container #cancelSearch {
   background-color:  rgb(230, 64, 35);
   border: none;
   padding: 6px 10px;
   margin-right: 5px;
   cursor: pointer;
}

.search-container #cancelSearchStores {
   background-color:  rgb(230, 64, 35);
   border: none;
   padding: 6px 10px;
   margin-right: 5px;
   cursor: pointer;
}

.search-container #searchButton {
   background-color: #007bff;
   margin-left: 330px;
   border: none;
   color: white;
   padding: 6px 10px;
   cursor: pointer;
}

.search-container input{
   width: 200%;
}

.show-products .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   justify-content: center;
   align-items: flex-start;
   
}

.show-products .box-container .box{
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: .5rem;
   border:var(--border);
   padding:2rem;
   max-height: 42rem;
   min-height: 42rem;
}

.show-products .box-container .box img{
   width: 100%;
   height: 20rem;
   min-height: 20rem;
   object-fit: contain;
   margin-bottom: 1rem;
}

.show-products .box-container .box .product_name{
   font-size: 2rem;
   color:var(--black);
   max-height: 6rem;
   font-weight:500;
   min-height: 6rem;
}

.show-products .box-container .box .price{
   font-size: 2rem;
   color:var(--main-color);
   margin:.5rem 0;
}

.show-products .box-container .box .product_description{
   font-size: 1rem;
   color:var(--light-color);
   height: 40px;
}

/* Style for the update product section */
.update-product {
   margin-top: 30px;
   padding: 20px;
   
}

/* Style for the heading */
.update-product .heading {
   font-size: 28px;
   margin-bottom: 20px;
   color: #202020;
}

/* Style for the existing product box */
.update-product .existing-product {
   background-color: #ffffff7a;
   border: 1px solid #ddd;
   padding: 20px;
   margin-top: 20px;
   margin: auto;
   width: 50%;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the product image container */
.update-product .product-image-container {
   position: relative;
   margin-bottom: 15px;
   min-height: 12rem;
   max-height: 12rem;
}

/* Style for the image */
.update-product .product-image-container img {
   position: relative;
   max-width: 100%;
   min-height: 12rem;
   max-height: 12rem;
   max-width: 20rem;
   height: auto;
   border: 1px solid #ddd;
   box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
   right: 20%;
}

/* Style for the update image button */
.update-product .update-image-button {
   position: absolute;
   right: 0;
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 5px 10px;
   cursor: pointer;
   font-size: 14px;
   border-radius: 4px;
}

/* Style for the product information and buttons */
.update-product .product_info,
.update-product .product_description {
   margin-top: 15px;
   text-align: left;
   position: relative;
   font-size: large;
}



.product_info input[type="text"]{
   width: 50%;
}

.product_description input[type="text"] {
        width: 50%; 
    }

/* Style for the update buttons */
.update-product .update-button {
   position: absolute;
   right: 0;
   bottom:10%;
   background-color: #007bff;
   color: #fff;
   border: none;
   padding: 3px 6px;
   cursor: pointer;
   font-size: 12px;
   border-radius: 4px;
}

/* Styling for the confirm updates button */
.update-product form {
   margin-top: 20px;
   text-align: center;
}

.update-product button[name="confirm-updates"] {
   background-color: rgb(255, 196, 0);
   color: #080808;
   border: none;
   padding: 10px 15px;
   cursor: pointer;
   font-size: 18px;
   border-radius: 4px;
   margin-top: 16px;
}

.update-product button[name="confirm-updates"]:hover {
   background-color: darkgoldenrod;
}

.update-product .existing-product .product-image-container input[type="file"]{
   position: absolute;
   bottom:60%;
   left: 62%;
}

.update-product .category-select {
   margin-top: 10px;
   margin-bottom: 10px;
   font-size: 18px;
   text-align: left;
}

.update-product select#category_select {
   width: 50%;
   margin: 8px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 14px;
   background-color: #fff;
   color: #333;
}

.update-product .subcategory-select {
   margin-top: 8px;
   margin-bottom: 10px;
   font-size: 18px;
   text-align: left;
}

.update-product select#subcategory_select {
   width: 50%;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 14px;
   background-color: #fff;
   color: #333;
}

.update-store {
   margin-top: 2rem;
}

.update-store .heading{
   font-size: 30px;
   margin-bottom: 20px;
   color: #202020;
}

.update-store .existing-store {
   background-color: #ffffff7a;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: 70%;
   margin: auto;
}

.update-store form {
   margin: 0;
   text-align: center;
}

.update-store .store_info {
   text-align: left;
   position: relative;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 10px;
}

.update-store .store_info input{
   width: 40%;
}

.update-store .store_coord{
   text-align: left;
   position: relative;
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 10px;
}

.update-store .update-button {
   padding: 5px 10px;
   background-color: #3498db;
   color: #fff;
   border: none;
   border-radius: 3px;
   cursor: pointer;
   margin-left: 5px;
}

.update-store  .confirm-updates {
   padding: 10px 20px;
   background-color: rgb(255, 196, 0);
   color: black;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}
.update-store  .confirm-updates:hover {
   background-color: darkgoldenrod;
}

.orders .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.orders .box-container .box{
   padding:2rem;
   padding-top: 1rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.orders .box-container .box p{
   line-height: 1.5;
   font-size: 2rem;
   color:var(--light-color);
   margin:1rem 0;
}

.orders .box-container .box p span{
   color:var(--main-color);
}

.orders .box-container .select{
   margin-bottom: .5rem;
   width: 100%;
   background-color: var(--light-bg);
   padding:1rem;
   font-size: 1.8rem;
   color:var(--black);
   border-radius: .5rem;
   border:var(--border);
}

.accounts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.accounts .box-container .box{
   padding:2rem;
   padding-top: .5rem;
   border-radius: .5rem;
   text-align: center;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.accounts .box-container .box p{
   font-size: 2rem;
   color:var(--light-color);
   margin: 1rem 0;
}

.accounts .box-container .box p span{
   color:var(--main-color);
}

.contacts .box-container{
   display: grid;
   grid-template-columns: repeat(auto-fit, 33rem);
   gap:1.5rem;
   align-items: flex-start;
   justify-content: center;
}

.contacts .box-container .box{
   padding:2rem;
   padding-top: 1rem;
   border-radius: .5rem;
   border:var(--border);
   background-color: var(--white);
   box-shadow: var(--box-shadow);
}

.contacts .box-container .box p{
   line-height: 1.5;
   font-size: 2rem;
   color:var(--light-color);
   margin:1rem 0;
}

.contacts .box-container .box p span{
   color:var(--main-color);
}


.stores-delete-button {
   background-color: #f44336; /* Red color */
   color: white;
   border-radius: 8px;
   padding: 12px 24px;
   border: none;
 }
 
 .stores-delete-button:hover {
   background-color: #d32f2f; /* Darker red color on hover */
 }

 .delete-button-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top:15px;
 }

 .shop-display {
   padding: 20px;
   background-color: #f5f5f5;
}
 .shop-display .heading {
   font-size: 24px;
   margin-bottom: 20px;
   color: #333;
 }
 .shop-display .box-container{
   display: flex;
   flex-wrap: wrap;
}
.shop-display .box-container .box{
   background-color: white;
   border: 1px solid #ddd;
   padding: 15px;
   margin: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   width: calc(33.33% - 20px);
   box-sizing: border-box;
}

.shop-display .box-container .box .supermarket-info{
   margin-bottom: 10px;
   font-size: 1.4rem;
}

.shop-display .option-btn,
.shop-display .delete-btn {
    display: inline-block;
    padding: 5px 10px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
    color: white;
    text-align: center;
    text-decoration: none;
    background-color: #007bff;
    border-radius: 5px;
}

.shop-display .delete-btn {
   background-color: #dc3545;
   margin-left: 10px;
}

.shop-display .flex-btn {
   display: flex;
   justify-content: space-between;
}

.shop-display .option-btn:hover{
            background-color: #0056b3;
}
.shop-display .delete-btn:hover{
   background-color: #741c25;
}

.pagination {
   margin-top: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.page-link {
   display: inline-block;
   padding: 5px 10px;
   margin: 0 5px;
   border: 1px solid #ccc;
   text-decoration: none;
   color: #333;
   border-radius: 3px;
   transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.page-link.active {
   background-color: #007bff;
   color: #fff;
   border-color: #007bff;
}

.page-link:hover {
   background-color: #f5f5f5;
}



@media (max-width:991px){

   html{
      font-size: 55%;
   }

}

@media (max-width:768px){

   #menu-btn{
      display: inline-block;
   }

   .header .flex .navbar{
      position: absolute;
      top:99%; left:0; right:0;
      border-top: var(--border);
      border-bottom: var(--border);
      background-color: var(--white);
      transition: .2s linear;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   }

   .header .flex .navbar.active{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
   }

   .header .flex .navbar a{
      display: block;
      margin:2rem;
   }

}

@media (max-width:450px){

   html{
      font-size: 50%;
   }

   .heading{
      font-size: 3.5rem;
   }

   .flex-btn{
      flex-flow: column;
      gap:0;
   }

   .add-products form textarea{
      height:15rem;
   }   

   .show-products .box-container{
      grid-template-columns: 1fr;
   }

   .orders .box-container{
      grid-template-columns: 1fr;
   }

   .accounts .box-container{
      grid-template-columns: 1fr;
   }

   .contacts .box-container{
      grid-template-columns: 1fr;
   }

}

/* Search bar */
.search-container {
   margin: 2rem auto;
   max-width: 800px;
   display: flex;
   justify-content: center;
}

#searchInput {
   width: 100%;
   padding: 1rem;
   font-size: 1.8rem;
   border: var(--border);
   border-radius: 0.5rem;
   background-color: var(--light-bg);
   color: var(--black);
   outline: none;
   transition: border-color 0.2s ease;
}

#searchInput::placeholder {
   color: var(--light-color);
}

#searchInput:focus {
   border-color: var(--main-color);
}

/* Adjust the product boxes to center them */
.show-products .box-container {
   justify-content: center;
   margin-bottom: 2rem;
}

/* Add some spacing between the search bar and the product boxes */
.show-products .box-container .box {
   margin-top: 2rem;
}

/* for the month field container */
/* Style for the chart graph of Statics page */
.chart-container {
   margin: 2rem auto;
   max-width: 100%; /* Set max-width to 100% to allow the canvas to expand */
   background-color: var(--white);
   box-shadow: var(--box-shadow);
   border-radius: 0.5rem;
   padding: 2rem;
}

/* Style for the chart title */
.chart-title {
   font-size: 2rem;
   color: var(--black);
   text-align: center;
   margin-bottom: 1rem;
}

/* Style for the chart canvas */
canvas {
   display: block;
   max-width: 100%;
   width: 100%; /* Ensure canvas width is 100% */
   height: 400px; /* Set the desired height */
   margin: 0 auto;
   background-color: white; /* Set canvas background to white */
   border-radius: 0.5rem;
   box-shadow: var(--box-shadow);
}


/* Style for chart axes */
.chart-container .chart-axis {
   font-size: 1.4rem;
   color: var(--black);
   margin-top: 0.5rem; /* Add some spacing between the chart title and axes */
}


.month-container {
   margin: 2rem auto;
   max-width: 800px;
   display: flex;
   justify-content: center;
}

#bdaymonth {
   width: 100%;
   padding: 1rem;
   font-size: 1.8rem;
   border: var(--border);
   border-radius: 0.5rem;
   background-color: var(--light-bg);
   color: var(--black);
   outline: none;
   transition: border-color 0.2s ease;
}

#bdaymonth::before {
   content: "\f073";
   font-family: "Font Awesome 5 Free";
   position: absolute;
   top: 50%;
   right: 1rem;
   transform: translateY(-50%);
   color: var(--main-color);
   pointer-events: none;
}

#bdaymonth:focus {
   border-color: var(--main-color);
}


.selection-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}

/* for ranking list of the LEADERBOARD */
.ranking-list {
   margin: 20px;
}

.ranking-list h2 {
   font-size: 20px;
   font-weight: bold;
   margin-bottom: 10px;
}

.ranking-list table {
   width: 100%;
   border-collapse: collapse;
}

.ranking-list th,
.ranking-list td {
   padding: 8px;
   text-align: center;
   border: 1px solid #ccc;
}

.ranking-list th {
   background-color: #f2f2f2;
}

/* Style for custom labels */
.inputBox .custom-label {
   font-size: 16px;
   font-weight: bold;
   color: #333;
   font-family: Arial, sans-serif; /* Specify the desired font family here */
}

/* Style for custom select elements */
.inputBox .custom-select {
   width: 100%;
   padding: 10px;
   font-size: 14px;
   border: 1px solid #ccc;
   border-radius: 4px;
   color: #555;
   background-color: #f8f8f8;
   font-family: Arial, sans-serif; /* Specify the desired font family here */
}

/* Style for the custom button */
.inputBox .custom-button {
   background-color: #007bff;
   color: #fff;
   padding: 10px 20px;
   font-size: 16px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-family: Arial, sans-serif; /* Specify the desired font family here */
}

.custom-button:hover {
   background-color: #0056b3;
}


/* Style the delete button */
.delete-offer-warning-btn {
   background-color: #ff6347; /* Change to your desired background color */
   color: #fff; /* Text color */
   border: none;
   padding: 10px 20px; /* Adjust padding as needed */
   border-radius: 5px; /* Rounded corners */
   cursor: pointer;
   transition: background-color 0.3s ease; /* Smooth hover effect */
}

/* Hover effect for the delete button */
.delete-offer-warning-btn:hover {
   background-color: #ff4500; /* Change to a slightly different color on hover */
}


/* Adjust position of the delete button */
.delete-btn-container {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 10px; /* Adjust this margin as needed */
}

.b-section .error-message {
   text-align: center;
   font-size: 18px;
   color: red;
   margin-top: 20px;
}
