.filter-box{
    padding: 70px;
    background-color: rgb(192, 228, 240);
    margin-left: 220px;
    margin-right: 220px;
}
.products-container{
    background-color:white;
    padding:250px;
    padding-bottom: 400px;
    margin-left: 220px;
    margin-right: 220px;
}
.subcategory-name-display{
    position:relative;
    background-color:white;
    bottom:200px;
    margin:auto;
    width:50%
}
.subcategory-name-display  p{
    position: static;
    color: blue;
    text-align: center;
    margin:auto;
    font-size: 25px;
    font-weight: bolder;
    width: 500px;
}
.products-container .product-box {
    position: relative;
    box-sizing: content-box;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border: solid #000 1px;
    margin: auto;
    text-align: center;
    font-family: arial;
    bottom: 100px;
    margin-bottom: 50px;
}


.product-box button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
.product-box button:hover {
    opacity: 0.7;
  }


